@tailwind base;
@tailwind components;
@tailwind utilities;



/* App.css */
@keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .animated-image {
    animation: slideIn 1s ease-out;
  }
  
  .slider-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .slick-slide img {
    width: 100%;
    height: auto;
  }



  